# Negeer environment variabelen (zeer belangrijk!)
.env

# Negeer Python cache (handig voor je scripts)
__pycache__/
*.py[cod]
*$py.class

# Negeer build mappen van C#
bin/
obj/

/data/
/data/**

__azurite_db_blob__.json
__azurite_db_queue__.json
__azurite_db_blob_extent__.json
__azurite_db_table__.json
__azurite_db_queue_extent__.json
AzuriteConfig
__blobstorage__/
__queuestorage__/
__blobstorage__/853467e1-b000-40a0-9cb7-46bf883681ef
csharp/SteamRec.Functions/local.settings.json